---
layout: default
title: Home
permalink: index.html
---

<a href="#all-tabs"> <h2 align="center"> --> Összes tab <-- <br> </h2> </a>

utolsó frissítés: {{ site.time | date_to_rfc822 }} <br> <br>

<h2>Todo (3 random): </h2>

{% assign tabs_has_todo = site.emptyArray %}

{% for tab in site.tabs %}

	{% if tab.todo %}

		{% assign tabs_has_todo = tabs_has_todo | push: tab %}

	{% endif %}

{% endfor %}	

{% assign sample_todo = tabs_has_todo | sample: 3 %}

{% for tab in sample_todo %}

	<a href=".{{ tab.url }}">{{ tab.artist }}: {{ tab.title }}</a>: {{ tab.todo }}<br>

{% endfor %}	

<h2>Tabok (5 random):</h2>

{% assign sample_tabs = site.tabs | sample: 5 %}

{% for tab in sample_tabs %}

	<a href=".{{ tab.url }}"><h2> {{ tab.artist }}: {{ tab.title }}</h2></a>
	
	<br> <pre>{{ tab.content }}</pre>

{% endfor %}


<h2 id="all-tabs">Összes tab</h2>


{% assign tabs_grouped_by = site.tabs | group_by:"artist" | sort:"name" %}

{% for artist in tabs_grouped_by %}

	<h3> {{ artist.name }} </h3>

	{% assign tabs_by_title = artist.items | sort:"title" %}

	{% for tab in tabs_by_title %}

		{% assign tab_id = tab.url | slugify: "latin" %}

		{% include showhide.html id=tab_id label=tab.title content=tab.content tab=tab %}

	{% endfor %}	

{% endfor %}	


